<!doctype html>
<html lang="pt-br">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
		<title>Formulários</title>
	</head>
	<body>
		<header>
			<h1>Lorem</h1>
		</header>
		<main>
			<form action="/" method=GET>
				<label for="">Lorem</label>
				<input id="" type="text" name="nome">
				<label for="">Lorem</label>
				<input id="" type="date" name="nascimento">
				<label for="">Lorem</label>
				<input id="" type="text" name="descri">
				<input type="submit" value="Lorem">
				<table>
				{{xform}}
				</table>
			</form>
			<ul>{% for x in person %}
				<li>{{x.nome}}</li>
			{% endfor %}
			</ul>
		</main>
		<footer>
			<p>Consectetur alias minima animi doloremque dolor temporibus consequuntur obcaecati voluptatibus voluptatibus ipsam. Consequatur architecto possimus voluptatem quibusdam dignissimos? Quo aliquam ullam quis ducimus odio aliquam ducimus maiores? Ipsa aspernatur recusandae!</p>
		</footer>
	</body>
</html>

