h1{
display: table;
margin:auto;
}

h1{
padding-top: 2rem;
margin-bottom: 2rem;
border-bottom: solid 3px rgba(0,0,0,0.3);
border-radius: 6px;
}

ul{
padding: 1rem;
border: solid 2px rgba(0,0,0,0.3);
background: rgba(0,0,200,0.2);
border-radius: 1rem;
width: 80vw;
max-height: 70vh;
overflow-y: auto;
margin: auto;
list-style: none;
}

ul li{
	background: rgba(255,255,255,0.1);
	margin: 3px;
	font-size: 1.3rem;
}

ul li:hover{
	background: rgba(0,0,0,0.1);
}
